main{
    height: 300px;
}
#produtos{
    
    height: 300px;
}
#parceiros{
    
    height: 300px;
}
#historia{
    
    height: 300px;
}
#carrinho{
    
    height: 300px;
}
#cadastro{
    
    height: 300px;  
}